* {
    color: black;
    font-family: sans-serif;
}

body {
    background-color: rgb(235, 235, 235);
}

h1 {
    background-color: rgb(56, 56, 56);
    border: 5px black;
    border-style: solid;
    color: white;
}

#Imagen {
    width: 30%;
    height: 30%;
    margin: 0 auto;
}

img {
    border: 5px;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
}

pre {
    border: 3px;
    border-radius: 10px;
    border-style: ridge;
}

ul, li {
    color: white;
}

#menu {
    background-color: black;
    display: inline-block;
    margin: 10px auto;
    margin-left: 43%;
}

h4 {
    text-align: center;
    border: solid black;
    background-color: rgb(56, 56, 56);
    color: white;
    width: 17%;
    margin: 0 auto;
    margin-bottom: .5%;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    font-weight: bolder;
}

th, td {
    border: solid 1px black;
    padding: 15px;
}

th {
    background-color: rgb(56, 56, 56);
    color: white;
}

td:hover {
    background-color: white;
    color: black;
}

a {
    margin: 0 auto;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color:rgb(116, 116, 116);
}