/* HEADER */
header {
    color: #fff;
    /*background-image: url("bannerHeader.jpg");*/
    background-color: #2c3e50;
}

.navbar {
    margin-bottom: 0;
}

.jumbotron {
    background-color: rgb(2, 163, 136);
    color: white;
    padding: 20px 0;
    margin-bottom: 5px;
}

.jumbotron .titulo-pagina {
    font-size: 85px;
}

.navbar-inverse .navbar-nav > .active > a:hover {
    color: rgb(2, 163, 136);
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: rgb(2, 163, 136);
}

#LogoHeader {
    width: 105%;
    margin: 0 auto;
}

a {
    color: black;
}

a:hover {
    color: white;
    text-decoration: none;
}

.breadcrumb li a:hover {
    color: rgb(2, 163, 136);
    text-decoration: none;
}

/* POSTS */
.main {
    margin-top: 20px;
    margin-bottom: 20px;
}

.post {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #999;
}

.post .post-title a {
    color: #233;
}

.post .thumb {
    margin-right: 10px;
    width: 40%;
}

.post .thumb img {
    width: 100%;
}

.post .contenedor-botones {
    width: 100%;
}

.jumbotron-footer {
    background-color: rgb(2, 163, 136);
    color: white;
    padding: 20px 0;
    font-size: 25px;
}

/* MEDIA QUERIE */
@media screen and (max-width: 768px) {
    .post .thumb {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }
}