* {
    font-family: Helvetica;
    color: white;
}

body {
    background-image: url("../../img/varias/fondoLogin.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/** BODY **/
.main {
    padding-top: 10px;
    height: 86vh;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

label {
    padding-top: 4px;
}

.data {
    padding: 6px;
}

.imagenes {
    min-height: 15vh;
}

#banner-preview #file-preview2, #avatar-preview #file-preview1{
    width: 100%;
    height: 100%;
}