html {
    font-family: Helvetica;
    font-size: 20px;
}

/** HEADER **/
body{
    background-image: url("../../img/varias/fondoLogIn.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 450px;
    height: auto;
    background-color: rgba(220, 220, 220, .1);
    margin: 15% auto;
    padding-bottom: 1rem;
}

.form-top {
    width: 100%;
    text-align: center;
    padding: 2rem 0 1rem;
    border-top: solid .4rem #02A388;
    margin-bottom: 1rem;
}

.form-top h2 {
    font-weight: bold;
    color: #CAC8C8;
    font-size: 22px;
}

h2 span {
    color: #02A388;
}

.form-login {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-form {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.input {
    display: block;
    width: 92.5%;
}

.input, .btn-iniciar-sesion, .btn-registrarse {
    background-color: rgba(120, 120, 120, .4);
    padding: .5rem;
    margin: .5rem;
    border: none;
    border-bottom: solid rgba(120, 120, 120, .4) .2rem;
    transition: all .5s;
}

.input:focus {
    border-bottom: solid #02A388 .2rem;
}

.btn-iniciar-sesion, .btn-registrarse {
    width: 40%;
    border-bottom: none;
    background-color: #02A388;
    color: white;
}

.btn-iniciar-sesion a:visited, .btn-registrarse a:visited {
    text-decoration: none;
}

.btn-iniciar-sesion:hover, .btn-registrarse:hover {
    background-color: #026857;
}