/* HEADER */
header {
    color: #fff;
    /*background-image: url("bannerHeader.jpg");*/
    background-color: #2c3e50;
}

.logo div img {
    width: 68%;
}

.navbar {
    margin-bottom: 0;
}

.jumbotron {
    background-color: rgb(2, 163, 136);
    color: white;
    padding: 20px 0;
    margin-bottom: 5px;
}

.jumbotron .titulo-pagina {
    font-size: 85px;
}

.navbar-inverse .navbar-nav > .active > a:hover {
    color: rgb(2, 163, 136);
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: rgb(2, 163, 136);
}

#LogoHeader {
    width: 105%;
    margin: 0 auto;
}

a {
    color: black;
}

a:hover {
    color: white;
    text-decoration: none;
}

.post-autor a:hover {
    color: rgb(2, 163, 136);
    text-decoration: none;
}

.breadcrumb li a:hover {
    color: rgb(2, 163, 136);
    text-decoration: none;
}

.head-user {
    background-color: rgba(0,0,0,.2);
    border-radius: 15px;
}

.head-user img {
    width: 80%;
}

/* POSTS */
.main {
    margin-top: 20px;
    margin-bottom: 20px;
}

.post {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #999;
}

.filtro-departamento div label {
    margin-top: 5px;
}

.post .post-title a {
    color: #233;
}

.post .thumb {
    margin-right: 10px;
    width: 40%;
}

.post .thumb img {
    width: 100%;
}

.post .contenedor-botones {
    width: 100%;
}

.jumbotron-footer {
    background-color: rgb(2, 163, 136);
    color: white;
    padding: 20px 0;
    font-size: 25px;
}

.trash {
    display: block;
    color: white;
    padding-top: 15px;
    font-size: 18px;
}

.trash a {
    padding: 0 5px;
    color: white;
}

.trash a:hover {
    color: #02A388;
}

footer {
    background-color: #222;
}

.icons {
    font-size: 40px;
    position: relative;
    
}

.icons a {
    text-decoration: none;
    margin: 10px;
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    float: left;
    transition: 0.5s all;
    cursor: pointer;
    color: #333;
}

.fb{
    background: #2980B9;
}

.tw{
    background: #3498DB;
}

.yb {
    background: #E74C3C;
}

.wp {
    background: #27AE60;
}

.im {
    background: #E67E22;
}

.icons a:hover {
    margin-top: -10px;
    color: white;
}

/* MEDIA QUERIE */
@media screen and (max-width: 768px) {
    .post .thumb {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }
}