/* HEADER */
header {
    color: #fff;
    /*background-image: url("bannerHeader.jpg");*/
    background-color: #2c3e50;
}

.logo div img {
    width: 68%;
}

.navbar {
    margin-bottom: 0;
}

.jumbotron {
    background-color: rgb(2, 163, 136);
    color: white;
    padding: 20px 0;
    margin-bottom: 5px;
}

.jumbotron .titulo-pagina {
    font-size: 85px;
}

.navbar-inverse .navbar-nav > .active > a:hover {
    color: rgb(2, 163, 136);
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: rgb(2, 163, 136);
}

#LogoHeader {
    width: 105%;
    margin: 0 auto;
}

a {
    color: black;
}

a:hover {
    color: white;
    text-decoration: none;
}

.breadcrumb li a:hover {
    color: rgb(2, 163, 136);
    text-decoration: none;
}

/** BODY **/
body {
    padding-bottom: 0;
}

/* POSTS */
.main {
    margin-top: 20px;
    margin-bottom: 20px;
}

.head-user {
    background-color: rgba(0,0,0,.2);
    border-radius: 15px;
}

.head-user img {
    width: 80%;
}

#nameSection {
    padding: 10px;
    background-color: #222;
    border-radius: 10px;
    width: 30%;
    color: white;
    border-left: 10px solid #02A388;
}

.carrito {
    color: black;
    padding: 1px 5px;
    background-color: rgba(26, 26, 26,.05);
}

.head-kart {
    background-color: #02A388;
    color: white;
    padding: 2px;
    font-size: 18px;
}

.centrar {
    margin-top: 10px;
}

.pedidos {
    padding: 6px;
    border-bottom: 5px solid #222;
}

.pedidos div img {
    width: 100%;
}

.pedidos div button {
    margin-top: 2px;
}

.pagar div {
    padding: 5px 15px;
}

.pagar div input {
    margin-top: 3px;
}

.rating {
    padding: 5px;
    display: flex;
    flex-direction: row-reverse;
}

.rating span {
    margin-right: 10px;
    font-size: 20px;
}

.rating input {
    display: none;
}

.rating label {
    display: block;
    cursor: pointer;
    font-size: 25px;
    width: 35px;
}

.rating label:before{
    content: "\e006";
    position: relative;
    display: block;
    color: rgb(56, 56, 56);
}

.rating label:after{
    content: "\e006";
    position: absolute;
    display: block;
    color: #02A388;
    opacity: 0;
    top: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after
{
    opacity: 1;
}

.trash {
    display: block;
    color: white;
    padding-top: 15px;
    font-size: 18px;
}

.trash a {
    padding: 0 5px;
    color: white;
}

.trash a:hover {
    color: #02A388;
}

footer {
    background-color: #222;
}

.icons {
    font-size: 40px;
    position: relative;
    
}

.icons a {
    text-decoration: none;
    margin: 10px;
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    float: left;
    transition: 0.5s all;
    cursor: pointer;
    color: #333;
}

.fb{
    background: #2980B9;
}

.tw{
    background: #3498DB;
}

.yb {
    background: #E74C3C;
}

.wp {
    background: #27AE60;
}

.im {
    background: #E67E22;
}

.icons a:hover {
    margin-top: -10px;
    color: white;
}

/* MEDIA QUERIE */
@media screen and (max-width: 768px) {
    .post .thumb, .logo div img{
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }
}