/* HEADER */
* {
    font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

.header {
    background-color: #2c3e50;
    color: white;
    padding-bottom: 5px;
}

.main {
    padding-top: 10px;
    height: 86vh;
}

.jumbotron-footer {
    background-color: #02A388;
    color: white;
}

.info-pagina {
    padding-top: 1.5em;
    padding-bottom: .8em;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

label {
    padding-top: 4px;
}

.data {
    padding: 6px;
}